.header {
  position: sticky;
  text-align: center;
  background: #b9d7d9;
  height: 70px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

nav > a {
  color: var(--rtc-black);
  text-transform: uppercase;
}

nav > a:hover {
  font-weight: 700;
}

/* Media query para pantallas de 450px o menos */
@media (max-width: 450px) {
  nav {
    flex-direction: column; /* Apila los items verticalmente */
    justify-content: center; /* Centra los items */
    align-items: flex-start; /* Opcional: para que los links se alineen a la izquierda */
    padding: 10px 0; /* Añade algo de padding */
  }

  nav > a {
    margin: 5px 0; /* Añade margen entre los enlaces */
    font-size: 14px; /* Reduce el tamaño del texto si es necesario */
  }

  .header {
    height: auto; /* Ajusta la altura si es necesario */
  }
}
